@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
:root {
  --primary-red: hsl(10, 79%, 65%);
  --primary-blue: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --light-orange: hsl(33, 100%, 98%);
}
*{
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
}
.App{
 width: 500px;
}
#root{
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

@media (max-width: 510px){
  .App{
    width: 100%;
  }
  .tooltiptext{
    font-size: 0.6rem !important;
    padding: 0.1rem !important;
  }
}